@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Roboto&display=swap');

html, body {
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

body {
	background:#888;
	color:#555;
	text-align:center;
	/*font-family:Arial;
	font-family: 'Coustard', serif;*/
	font-family: 'Roboto', Arial, sans-serif;
	background: url("images/background.jpg") no-repeat center center fixed;
	background-size: cover;
}

h1 {
	color:#fff;
	text-transform:uppercase;
	text-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
}

#chatbox {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;

	height: calc(100vh - 100px);
}

#help {
        position:absolute;
        right:10px;
        top:10px;
}
#help-toggle {
        width:30px;
        height:30px;
        line-height:30px;
        vertical-align:middle;
        background:#777;
        color:#FFF;
        font-size:24px;
        font-weight:bold;
        border-radius:50%;
        cursor:pointer;
}
#help-content {
        display:none;
        position: absolute;
        width: 400px;
        background: #555;
        color:#fff;
        top: 25px;
        right: 0;
        padding: 20px;
        list-style: none;
        font-size: 14px;
        text-align: left;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
        border-radius: 3px;
}

/* modal */
.modal{
	position: fixed;
	width: 100%;
	z-index: 500;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	left: 0;
	top: 0;
	align-items: center;
	vertical-align: middle;
}
.modal-content{
	background-color: #fff;
	width: fit-content;
	margin: 50px auto;
	padding: 20px;
	z-index: 600;
	border: 1px solid #888;
	border-radius: 15px;
}
.upload{
	margin-top: 20px;
}
/* Avatar center */
.message {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.hidden{
	display: none;
}
/* taille icone modal */
.iconeRadio{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}

.iconeRadio div{
	margin: 4px;
}

.icone{
	width: 40px;
	height: 40px;
}

.icone-selected {
	margin: 1px;
}

.icone-selected img{
	border: 3px solid blue;
	border-radius: 50px;
}
/* Button modal */
.button-primary {
	display:inline-block;
	border:solid 2px #888;
	width:calc(100% - 144px);
	padding:0 20px;
	height:31px;
	border-radius: 8px;
	transition:all .4s;
}

.gifTenor {
	background-size: contain;
    width: 120px;
    height: 120px;
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
	font-size:0;
}


/*Etat du dernier message*/

#message-viewed {
	position: absolute;
	display: none;
	justify-content: end;
	width: 90%;
}

#message-viewed img {
	width: 20px;
}

/*Personne ayant vu le message*/

#who-viewed {
	display: flex;
    justify-content: end;
    font-size: 1vh;
    flex-flow: column;
    padding: 5px;
}
.user-writing {
		position: absolute;
		top: 86vh;
	display: flex;
	flex-direction: row;
}
.user-writing {
	position: absolute;
	top: 86vh;
	display: none;
	width: 100%;
}
.user-writing #list-user-writing span{
	margin-right: 0.5vh;
}
.user-writing > span {
	margin-right: 3vh;
}
.dot-typing {
	position: relative;
	left: -9999px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #000000;
	color: #000000;
	box-shadow: 9984px 0 0 0 #000000, 9999px 0 0 0 #000000, 10014px 0 0 0 #000000;
	animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
	0% {
		box-shadow: 9984px 0 0 0 #000000, 9999px 0 0 0 #000000, 10014px 0 0 0 #000000;
	}
	16.667% {
		box-shadow: 9984px -10px 0 0 #000000, 9999px 0 0 0 #000000, 10014px 0 0 0 #000000;
	}
	33.333% {
		box-shadow: 9984px 0 0 0 #000000, 9999px 0 0 0 #000000, 10014px 0 0 0 #000000;
	}
	50% {
		box-shadow: 9984px 0 0 0 #000000, 9999px -10px 0 0 #000000, 10014px 0 0 0 #000000;
	}
	66.667% {
		box-shadow: 9984px 0 0 0 #000000, 9999px 0 0 0 #000000, 10014px 0 0 0 #000000;
	}
	83.333% {
		box-shadow: 9984px 0 0 0 #000000, 9999px 0 0 0 #000000, 10014px -10px 0 0 #000000;
	}
	100% {
		box-shadow: 9984px 0 0 0 #000000, 9999px 0 0 0 #000000, 10014px 0 0 0 #000000;
	}
}