body{
    background: url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}
h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #fff;
}
p, a{
    color: #fff;
    font-size: 20px;
}
.container {
    /* Positionne le conteneur au milieu et a gauche de la page */
    position: absolute;
    top: 50%;
    left: 10%;
    /* Déplace le conteneur de moitié de sa propre largeur et hauteur */
    margin-top: -150px;
    margin-left: -150px;
    /* Définit la largeur et la hauteur du conteneur */
    width: 30vw;
    height: 30vh;
    /* Définit l'arrondi des bords */
    border-radius: 5px;
    /* Définit l'ombre portée */
    box-shadow: 0 0 10px #000;
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

    
}
.contact-form {
    margin-top:40px;
}