@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Roboto&display=swap');

html, body {
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

body {
	background:#888;
	color:#555;
	text-align:center;
	font-family:Arial;
	font-family: 'Coustard', serif;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color:#fff;
	text-transform:uppercase;
	text-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
}

#chatbox {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;

	height: calc(100vh - 100px);
}

#help {
        position:absolute;
        right:10px;
        top:10px;
}
#help-toggle {
        width:30px;
        height:30px;
        line-height:30px;
        vertical-align:middle;
        background:#777;
        color:#FFF;
        font-size:24px;
        font-weight:bold;
        border-radius:50%;
        cursor:pointer;
}
#help-content {
        display:none;
        position: absolute;
        width: 400px;
        background: #555;
        color:#fff;
        top: 25px;
        right: 0;
        padding: 20px;
        list-style: none;
        font-size: 14px;
        text-align: left;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
        border-radius: 3px;
}
